# Access to data.

In [1]:
# pip install psycopg2-binary.
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.4)

In [0]:
# imports.
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from google.cloud import bigquery
from google.oauth2 import service_account

In [0]:
# connection to postgresss database.
engine = create_engine('postgres://ibnzqkfl:rYgeprTJq6jD_eR0bxEXwAnYX7fM-yRD@rajje.db.elephantsql.com:5432/ibnzqkfl')

In [0]:
 # google service account credentials.
 credentials = service_account.Credentials.from_service_account_file('HackerNews-a13892bba4db.json')
 # label the project.
project_id = 'SaltyNews-HackerNews'

In [0]:
# set the bigquery client.
client = bigquery.Client(credentials=credentials, project=project_id)

In [0]:
# set the referenced dataset and proect from bigquery.
dp_ref = client.dataset('hacker_news', project='bigquery-public-data')

In [0]:
# set the referenced tabe 'comments' from the bigquery hacker news dataset.
table_ref = dp_ref.table('comments')
# get the table from big query.
comments_table = client.get_table(table_ref)
# create the dataframe with 30,000 rows, ElephantSQL limits it 20MB.
HNcommentsDB = client.list_rows(comments_table, max_results=30000).to_dataframe()

In [8]:
print(HNcommentsDB.shape)
HNcommentsDB.head()

(30000, 10)

         id  by author        time  ...    parent deleted  dead ranking
0   2701393  5l     5l  1309184881  ...   2701243    None  None       0
1   5811403  99     99  1370234048  ...   5804452    None  None       0
2     21623  AF     AF  1178992400  ...     21611    None  None       0
3  10159727  EA     EA  1441206574  ...  10159396    None  None       0
4   2988424  Iv     Iv  1315853580  ...   2988179    None  None       0

[5 rows x 10 columns]

In [9]:
# drop unecessary columns.
HNcommentsDB = HNcommentsDB.drop(columns=['dead', 'deleted', 'by'])
# use datetime on time_ts column.
HNcommentsDB['time_ts'] = pd.to_datetime(HNcommentsDB['time_ts'], infer_datetime_format=True)
# seperate the date and time from time_ts column.
HNcommentsDB['date'] = [d.date() for d in HNcommentsDB['time_ts']]
HNcommentsDB['time'] = [d.time() for d in HNcommentsDB['time_ts']]
# sepereate the year, month, day for date column.
HNcommentsDB['year'] = HNcommentsDB['date'].map(lambda x: x.year)
HNcommentsDB['month'] = HNcommentsDB['date'].map(lambda x: x.month)
HNcommentsDB['day'] = HNcommentsDB['date'].map(lambda x: x.day)
# drop the time_ts column.
HNcommentsDB = HNcommentsDB.drop(columns=['time_ts', 'date'])
# reorganize the columns.
HNcommentsDB = HNcommentsDB[['year', 'month', 'day', 'time', 'author', 'id', 'text', 'ranking']]
# drop any duplicate columns based on id column.
HNcommentsDB.drop_duplicates(subset ="id", keep = "first", inplace = True)
# show data frame shape.
print(HNcommentsDB.shape)
# show the data frame with headers.
HNcommentsDB.head(10)

(30000, 8)

   year  month  ...                                               text ranking
0  2011      6  ...  And the glazier who fixed all the broken windo...       0
1  2013      6  ...  Does canada have the equivalent of H1B/Green c...       0
2  2007      5  ...  Speaking of Rails, there are other options in ...       0
3  2015      9  ...  Humans and large livestock (and maybe even pet...       0
4  2011      9  ...  I must say I reacted in the same way when I re...       0
5  2012      4  ...  &#62; There's a whole class of 'mom &#38; pop'...       0
6  2012      5  ...  I'm also in this ballpark (300-600€ / day) whi...       0
7  2011     10  ...  how do you run unity in non-accelerated mode ?...       0
8  2014     10  ...  Polio is not exterminated even if it is absent...       0
9  2011      8  ...  Yep, I didn't find Rescuetime very helpful. I ...       0

[10 rows x 8 columns]

In [10]:
HNcommentsDB.isnull().sum()

year       0
month      0
day        0
time       0
author     0
id         0
text       0
ranking    0
dtype: int64